{
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "production": {
      "plugins": [
        "lodash",
        "transform-remove-console",
      ]
    }
  }
}