{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "tabWidth": 2,
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  }
}